<% content_for :body_content_title do %>
  <%= @banner.name %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Name</h1>
    <p>
      <%=raw @banner.name %>
    </p>
  </section>
  <section>
    <h1>Image</h1>
    <p>
      <%= image_fu @banner.image, nil %>
    </p>
  </section>
  <section>
    <h1>Url</h1>
    <p>
      <%=raw @banner.url %>
    </p>
  </section>
  <section>
    <h1>Is Active</h1>
    <p>
      <%=raw @banner.is_active %>
    </p>
  </section>
  <section>
    <h1>Start Date</h1>
    <p>
      <%=raw @banner.start_date %>
    </p>
  </section>
  <section>
    <h1>Expiry Date</h1>
    <p>
      <%=raw @banner.expiry_date %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="banners">
      <% @banners.each do |banner| %>
        <li>
          <%= link_to banner.name, banner_path(banner) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
